<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href='/stylesheets/styleProfile.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body class="w3-light-grey">
<header>
</header>
<br>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
<!-- Page Container -->
<div class="w3-content w3-margin-top " style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/w3images/avatar_hat.jpg" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-container w3-text-black">
                        <br>
                        {{#if user}}
                            <div class="w3-container w3-teal w3-round-large">
                                <h6>Welcome {{user.fullName}}</h6>
                            </div>
                            <br/><br/>
                        {{/if}}
                    </div>
                </div>

                <div class="w3-container w3-round-large">
                    <form class="form w3-round-large" method="POST" action="/profile/profile/{{id}}">
                        <p>
                            <i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Profession
                            <input class="profession w3-round-large" type="text" name="profession" placeholder="Profession">

                        </p>
                        <br>
                        <p>
                            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>Email
                            <input class="name w3-round-large" type="email" name="email" placeholder="Email">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>GitHub
                            <input class="name w3-round-large" type="url" name="github" placeholder="GitHub">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>Phone
                            <br>
                            <input class="name w3-round-large" type="tel" name="tel" placeholder="Phone">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Country
                            <input class="name w3-round-large" type="text" name="country" placeholder="Country">
                        </p>
                        <br>
                        <p>
                            <i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Town
                            <input class="name w3-round-large" type="text" name="town" placeholder="Town">
                        </p>
                        <br>
                        <p>
                            <i class=" fa-fw w3-margin-right w3-large w3-text-teal w3-round-large"></i>Age
                            <br><br>
                            <input class="name w3-round-large" type="number" name="age" placeholder="Age">
                        </p>
                        <br>
                        <p>
                            <i class="fa-fw w3-margin-right w3-large w3-text-teal w3-round-large"></i>Gender
                            <br>
                            <input class="name w3-round-large" type="radio" name="sex" value="man" placeholder="Gender"> man
                            <br>
                            <input class="name w3-round-large" type="radio" name="sex" value="woman" placeholder="Sex"> woman
                        </p>
                        <hr>

                        <p class="w3-large w3-round-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>

                        <input class="name w3-round-large" type="text" name="name" placeholder="Skills:">
                        <br><br>

                        <input class="name w3-round-large" type="number" name="name" placeholder="Percent of handling">
                        <br><br>
                        <div>
                            <button class="w3-padding-8 w3-round-large"><i class="fa-fw w3-margin-right"></i>><b>Enter this skill</b></></button>
                        </div>
                        <br><br>

                        <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>

                        <input class="name w3-round-large" type="number" name="name" placeholder="Percent of handling">
                        <br><br>
                        <div>
                            <button class="w3-padding-8 w3-round-large"><i class="fa-fw w3-margin-right"></i><b>Enter this skill</b></button>
                        </div>
                        <br><br>
                        <br><br>
                        <br>

                </div>
            </div><br>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card-2 w3-white w3-margin-bottom w3-round-large">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <br>
                <textarea class="w3-margin-bottom w3-round-large" name="workExperience"></textarea>
            </div>

            <div class="w3-container w3-card-2 w3-white w3-round-large">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <br>
                <textarea class="w3-margin-bottom w3-round-large w3-round-large" name="education"></textarea>

            <!-- End Right Column -->
        </div>


        <button type="submit" class="btn btn-success">Edit</button>


        <!-- End Grid -->
    </div>
    </form>
    <!-- End Page Container -->
</div>
</body>
</html>


