<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' style="color: red;" href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>

   
</head>
<body>

<header>
    <div class="navmenu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                </button>
            </div>
            {{#if user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/ideas">Ideas</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/user/details">Welcome({{user.email}})</a></li>
                        <li><a href="/article/create">New Article</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
    <header>
        <div class="navmenu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            {{/if}}
            {{#unless user}}
                 <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/ideas">Ideas</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li class="navbar-right"><a href="/user/login">Login</a></li>
                        <li class="navbar-right"><a href="/user/register">Register</a></li>
                    </ul>
                </div>
            {{/unless}}
        </div>
    </div>
</header>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
<body>
<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal" method="POST" action="/article/create">
            <fieldset>
                <legend>New Article</legend>

                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleTitle">Article Title</label>
                    <div class="col-sm-4 ">
                        <input type="text" class="form-control" id="articleTitle" placeholder="Article Title" name="title" required >
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="articleContent">Content</label>
                    <div class="col-sm-6">
                        <textarea class="form-control" id="articleContent" rows="5" name="content" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">

                        <button type="reset" class="btn btn-default">Cancel</button>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2017 - Software University Foundation</p>
    </div><!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add font awesome icons -->
    <a href="https://www.facebook.com/SoftwareUniversity/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/softunibg" target="_blank" class="fa fa-twitter"></a>
</footer>
</html>

