<div class="container body-content">
    <div class="navmenu">

            <li><a href="/blog">Junior developers Blog</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="/ideas">Ideas</a></li>
            <li><a href="/aboutUs">About Us</a></li>

    </div>
</div>

//<img src="Web-Design-Tools.jpg" style="width:200px;">
