<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body id="indexBG" style="background-image: url(../pictures/d.jpg)">
    <div class="btn1 col-md-4">
        <a href="/blog" id="blogbtn">Junior developers Blog</a>
    </div>
{{#if user}}
    <div class="btn2 col-md-4 col-md-offset-2">
        <a href="/Users" id="usersbtn">Users</a>
    </div>
{{/if}}
    <div class="btn1 col-md-4">
        <a href="/listings" id="listingsbtn">Listings</a>
    </div>
    <div class="btn2 col-md-4 col-md-offset-2">
        <a href="/aboutUs" id="aboutbtn">About Us</a>
    </div>
    <div class="btn1 col-md-4">
        <a href="/news" id="newsbtn">News</a>
        </div>
    <div class="btn2 col-md-4 col-md-offset-2">
        <a href="/contactUs" id="contactbtn">Contact</a>
    </div>
</body>