<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <style>
        .btn1 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: flex;
  padding: 10px;
  margin: 10px;
}
.btn2 {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#indexBG {
      background-size: cover;
}
#blogbtn {
    color: ghostwhite;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
#usersbtn {
    color: ghostwhite;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
#listingsbtn {
    color: ghostwhite;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
#aboutbtn {
    color: ghostwhite;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
#contactbtn {
    color: ghostwhite;
    padding: 10px;
    display: inline-block;
    margin: 10px;
}
    </style>
</head>
<body id="indexBG" style="background-image: url(../pictures/indexBG.jpg)">
    <div class="btn1">
        <a href="/blog" id="blogbtn">Junior developers Blog</a>
    </div>
{{#if user}}
    <div class="btn2">
        <a href="/Users" id="usersbtn">Users</a>
    </div>
{{/if}}
    <div class="btn1">
        <a href="/ideas" id="listingsbtn">Listings</a>
    </div>
    <div class="btn2">
        <a href="/aboutUs" id="aboutbtn">About Us</a>
    </div>
    <div class="btn1">
        <a href="/contactUs" id="contactbtn">Contact</a>
    </div>
</body>