<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <title>Junior developers</title>
    <link rel="stylesheet" href='/stylesheets/listings.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
	<script src="/javascripts/moment.min.js"></script>
    <script>
        jQuery(function($){
            var defaults = {
                duration: 0.5,
                pause: 0.5,
                delaybeforestart: 'onvisible',
                postclass: 'animated-after'
            }

            function css3propmap(){ // param: {css3prop1: value1, css3prop2: value2, etc}
                var vendorprefixes = ['-ms-', '-o-', '-moz-', '-webkit-'],
                        propmap = {}
                for (var i=0; i<arguments.length; i++){
                    propmap[arguments[i][0]] = arguments[i][1]
                    for (var t=0; t<vendorprefixes.length; t++){
                        propmap[vendorprefixes[t] + arguments[i][0]] = arguments[i][1]
                    }
                }
                return propmap
            }


            $.fn.animatelist = function(options) {
                if (typeof $.animatedlists == "undefined") // global var to store ref to ULs that will be animated
                    $.animatedlists = []

                function inrange(range, field) { // check if "playing field" is inside range
                    var rangespan = range[1] - range[0], fieldspan = field[1] - field[0]
                    if ((range[0] - field[0]) > 0 && (range[0] - field[0]) <= fieldspan) // if top of range (viewport) is on field
                        return true
                    else {
                        if ((range[0] - field[0]) < 0 && (range[0] + rangespan) >= field[0]) // if part of range overlaps field
                            return true
                    }
                    return false
                }

                if (Array.filter && !$(window).data('scrollbind')) { // on window scroll
                    var $window = $(window)
                    $window.bind('scroll.scrollbind', function () {
                        var scrolltop = $window.scrollTop(), animatedlists = $.animatedlists
                        animatedlists = animatedlists.filter(function (el, index) { // find ULs that are visible on the screen and should be shown
                            return (!el.shownflag && inrange([el.offsettop, el.offsettop + el.ulheight], [scrolltop, scrolltop + $window.height()]))
                        })
                        for (var i = 0; i < animatedlists.length; i++) {
                            animatedlists[i].$ul.addClass(animatedlists[i].postclass)
                            animatedlists[i].shownflag = true
                        }
                    })
                    $window.bind('load', function () { // refresh UL top offsets when the page fully loads
                        var animatedlists = $.animatedlists
                        for (var i = 0; i < animatedlists.length; i++) {
                            animatedlists[i].offsettop = animatedlists[i].$ul.offset().top
                            animatedlists[i].ulheight = animatedlists[i].$ul.outerHeight()
                        }
                        $window.trigger('scroll.scrollbind')
                    })
                    $(window).data('scrollbind', true)
                }

                return this.each(function () {
                    var $ul = $(this).css({overflow: 'hidden'})
                    var o = $.extend({}, defaults, options)
                    var $lis = $ul.children('li').css({position: 'relative'})
                    $lis.each(function (i) {
                        $(this).css(css3propmap(['transition', 'all ' + o.duration + 's ease-in-out ' + i * (o.pause) + 's']))
                    })
                    if (typeof o.delaybeforestart == "number") {
                        setTimeout(function () {
                            $ul.addClass(o.postclass)
                        }, o.delaybeforestart * 1000)
                    }
                    else if (o.delaybeforestart == "onvisible" && Array.filter) {
                        var offsettop = $ul.offset().top
                        $.animatedlists.push({
                            $ul: $ul,
                            offsettop: offsettop,
                            ulheight: $ul.outerHeight(),
                            shownflag: false,
                            postclass: o.postclass
                        })
                    }
                    else {
                        $ul.addClass(o.postclass)
                    }
                }) // end return
            };
            $('ul.resources').animatelist({postclass: 'resources-after'})
        })(jQuery);
    </script>
</head>
<body>
<header>
    <div class="navmenu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                </button>
            </div>
            {{#if user}}
               <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/home"><img src="/../pictures/home.png" style="height: 22px; width: 40px; object-fit: contain" ></a></li>
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/listings">Listings</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contactUs">Contact</a></li>
                        <li class="navbar-right"><a href="/user/logout">Logout</a></li>
                        <li class="navbar-right"><a href="/profile/profile">Welcome {{user.fullName}}!</a></li>
                    </ul>
                </div>
            </div>
    </div>
</header>
    <header>
        <div class="navmenu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            {{/if}}
            {{#unless user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/home"><img src="/../pictures/home.png" style="height: 22px; width: 40px; object-fit: contain" ></a></li>
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/listings">Listings</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li><a href="/news">News</a></li>
                        <li><a href="/contactUs">Contact</a></li>
                        <li class="navbar-right"><a href="/user/login">Login</a></li>
                        <li class="navbar-right"><a href="/user/register">Register</a></li>
                    </ul>
                </div>
            {{/unless}}
            </div>
        </div>
    </header>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
<div class="wrapper row2">
  <div id="container" class="clear">
   <div id="about-us" class="clear">
        <section id="about-intro" class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large">
            <p>HI, WE’RE Junior developers!</p>

            <h1>WE BELIEVE THAT TECHNOLOGY DOESN'T HAVE TO BE SO HARD.</h1>
            <p>Junior developers is an interactive online learning community for creatives, thinkers, and makers. Looking for a more lucrative and fulfilling job, to design new products, or even to kickstart a new venture? You’ve come to the right place.

            We’re here to demystify technology and help you completely transform your career. Even better, we believe that learning digital skills should be entertaining, delightful, and approachable. How will digital skills change you? Join a Junior developers class or blueprint today!
            </p>
      </section>
      <section id="team">
        <h2>Our Team</h2>
        <ul class="resources">
          <li class="one_quarter first">
            <figure class="thumbnail w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large"><img src="/../pictures/face.jpg" width="100px" alt="">
              <figcaption>
                <p class="team_name">Daniel Popov</p>
                <p class="team_title">Senior JavaScript Developer</p>
                <p class="team_description">This is something short and really expiring about me and my beliefs. Oh and something about programming, too.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_quarter">
            <figure class="thumbnail w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large"><img src="/../pictures/Goebbels.jpg" width="150px" alt="">
              <figcaption>
                <p class="team_name">Nikola Popov</p>
                <p class="team_title">Master of Copypasta</p>
                <p class="team_description">"Programming is like kicking yourself in the face, sooner or later your nose will bleed." Quote is also copy/paste.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_quarter">
            <figure class="thumbnail w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large"><img src="/../pictures/mickey.jpg" width="150" alt="">
              <figcaption>
                <p class="team_name">Stoyan Todorov</p>
                <p class="team_title">Student</p>
                <p class="team_description">Programming it is interesting, because cultivates creative and logic thinking simultaneously.</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_quarter">
            <figure class="thumbnail w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber w3-round-large"><img src="/../pictures//rail.jpg" width="150" alt="">
              <figcaption>
                <p class="team_name">Hristo Machikov</p>
                <p class="team_title">Unemployed programmer</p>
                <p class="team_description">When in Excel I tried to use more than 8 "if" conditions in one cell, I failed and I had to write a function in VB.</p>
              </figcaption>
            </figure>
          </li>
        </ul>
      </section>
      </div>
      </div>
</div>
