 <head>
 <SCRIPT LANGUAGE="JavaScript">
        IMAGE01 = "on.gif"
        IMAGE02 = "off.gif"

        function imgover(imgname){
            imgname.src = IMAGE01
        }

        function imgout(imgname){
            imgname.src = IMAGE02
        }
    </SCRIPT>
 </head>
    <body>
        <IMG NAME="IMAGE01" SRC="off.gif" WIDTH=10 HEIGHT=10 BORDER=0>
<A HREF="http://www.altavista.com" onMouseOver="imgover(IMAGE01)" onMouseOut="imgout(IMAGE01)">Altavista</A>

<SCRIPT language="JavaScript">
    function display_image(form) {
        selectionname = form.imagename.options[form.imagename.selectedIndex].text;
        selection = form.imagename.options[form.imagename.selectedIndex].value;
        PreView = window.open("", "Preview", "toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=0,resizable=0,copyhistory=0,width=200,height=255");
        PreView.document.open();
        PreView.document.write("<HTML><HEAD>");
        PreView.document.write("<TITLE>Preview</TITLE>");
        PreView.document.write("</HEAD><BODY BGCOLOR=FFFFFF TEXT=000000>");
        PreView.document.write("<FORM><CENTER><B><FONT SIZE=+1>" +
                selectionname + "</FONT></B><HR>");
        PreView.document.write("<IMG HSPACE=0 VSPACE=0 " +
                "SRC='" + selection + "'>");
        PreView.document.write("<HR><FORM><INPUT TYPE='button' VALUE='Close' " +
                "onClick='window.close()'></FORM>");
        PreView.document.write("</CENTER>");
        PreView.document.write("</BODY></HTML>");
        PreView.document.close();
    }
</SCRIPT>


<FORM>
    <select NAME="imagename" onChange="display_image(this.form)">
        <option value="http://www.javascriptkit.com/abstract.gif" SELECTED>Image 1
        <option value="http://www.javascriptkit.com/day.gif">Image 2
        <option value="http://www.javascriptkit.com/night.gif">Image 3
    </select>
</FORM>

<SCRIPT>
    function passWord() {
        var testV = 1;
        var pass1 = prompt('Please Enter Your Password',' ');
        while (testV < 3) {
            if (!pass1)
                history.go(-1);
            if (pass1.toLowerCase() == "123") {
                alert('You Got it Right!');
                window.open('protectpage.html');
                break;
            }
            testV+=1;
            var pass1 =
                    prompt('Access Denied - Password Incorrect, Please Try Again.','Password');
        }
        if (pass1.toLowerCase()!="password" & testV ==3)
            history.go(-1);
        return " ";
    }
</SCRIPT>
<CENTER>
    <FORM>
        <input type="button" value="Enter Protected Area" onClick="passWord()">
    </FORM>
</CENTER>
    </body>

 <a href="/contactUs">contact us!</a>
 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
	

   
</head>
<body>
<header>
    <div class="navmenu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                    <span class="icon-bar">asd</span>
                </button>
            </div>
            {{#if user}}
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/home"><img src="/../pictures/home.png" style="height: 22px; width: 40px; object-fit: contain" ></a></li>
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/ideas">Ideas</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li class="navbar-right"><a href="/user/logout">Logout</a></li>
                        <li class="navbar-right"><a href="/article/create">New Article</a></li>
                        <li class="navbar-right"><a href="/profile/profile">Welcome({{user.email}})</a></li>
                    </ul>
    <header>
        <div class="navmenu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            {{/if}}
            {{#unless user}}
                 <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left" style="width: 100%">
                        <li><a href="/home"><img src="/../pictures/home.png" style="height: 22px; width: 40px; object-fit: contain" ></a></li>
                        <li><a href="/blog">Junior developers Blog</a></li>
                        <li><a href="/Users">Users</a></li>
                        <li><a href="/ideas">Ideas</a></li>
                        <li><a href="/aboutUs">About Us</a></li>
                        <li class="navbar-right"><a href="/user/login">Login</a></li>
                        <li class="navbar-right"><a href="/user/register">Register</a></li>
                    </ul>
                </div>
            {{/unless}}
        </div>
    </div>
</header>
{{#if error }}
    <h2>{{error}}</h2>
{{/if}}
<body>
<body>
<footer>
    <div class="container modal-footer">
        <p>&copy; 2017 - Software University Foundation</p>
    </div>
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Add font awesome icons -->
    <a href="https://www.facebook.com/SoftwareUniversity/" target="_blank" class="fa fa-facebook"></a>
    <a href="https://twitter.com/softunibg" target="_blank" class="fa fa-twitter"></a>
</footer>
</html>

