<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                <legend>Thank you! Your message is received.</legend>

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,800,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=BenchNine:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<head>

    <link rel="stylesheet" href='/stylesheets/listingForm.css'>
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
    <title>Junior developers</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
<div class="w3-container w3-teal w3-round-large">
    <h2>Thank you! Your message is received.</h2>
    </div>
</body>
</html>

<!-- ====================================================
header section -->
<header class="top-header">
    <div class="container">
        <div class="row">
