<div class="container body-content span=8 offset=2">
    <div class="well">
        <form class="form-horizontal">
            <fieldset>
                <legend>Thank you! Your message is received.</legend>

            </fieldset>
        </form>
    </div>
</div>
