<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
            <body>

{{#each users}}
    {{this.fullName}}
    {{this.email}}
{{/each}}
            </body>

</html>